.outercircle 
{
		width: 450px;
		height: 450px;
		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		border-radius: 225px;
		background: black;
		position: absolute;
		margin: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
}
.wrapper {
	margin-top: 100px;
  margin-left:auto;
  margin-right:auto;
  width:750px;
	height:750px;
	
}
.innercircle 
{
		width: 200px;
		height: 200px;
		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		border-radius: 100px;
		background: white;
		position: absolute;
		margin: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
}
.topleft{
 	/*background:green; */
}
.topright{
 	/*background:green;*/
	position:absolute;
}
.botright{
 	/*background:green;*/
	position:absolute;
}
.botleft{}
.title{
	margin: 30px 0px 0px 40px;
	font-size:45px;
}
.display 
{
	font-size:25px;
	font-weight:bold;
	text-align:center;
	width: 45px;	height: 34px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 10px;
	background: rgb(150, 0, 0);
	position: absolute;
	left:30px; 
}
.round-button {
    width:20px;
    height:20px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    background: #464646;
    box-shadow: 0 0 3px gray;
	  margin:5px 0px 0px 95px;
	  position: absolute;
	  cursor: pointer;
}
.round-button:hover {
    background: #262626;
}
.fontForButtons{
	font-size:11px;
	font-weight:900;
	margin:40px 0px 0px 33px;
	position:absolute;
}
.fontforToggleButton{
	font-size:11px;
	font-weight:900;
	margin:75px 0px 0px 37px;
	position:absolute;
}

.switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 200);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 26px;
  left: 4px;
  bottom: 2px;
  background-color: rgb(0, 200, 234);
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}